<header id="page-header">
  <h1>Moneypenny Cookout</h1>
</header>

<div id="video-container">
  <iframe width="1280" height="750" src="http://www.youtube.com/embed/Kr0tTbTbmVA"
          frameborder="0" allowfullscreen></iframe>
</div>

<h2 class="text-center">"HOLLLARIT!"</h2>

<p>Whatup: it's Zachery Moneypenny.</p>

<p>My wife Stacy and I were talking about how long it's been since we
just had a bunch of friends over for a cookout. So we said "Hey, let's
notify the crew, get a keg, start a fire,
grill meats and veggies, and listen to DJ Jazzy Jeff and the Fresh Prince
on loop until a neighbor calls the police."</p>

<h2>Details</h2>

<p>Drop by the afternoon or early evening for a beer and some food, or
come by later on for a fire and, I dunno, ghost stories or something.</p>

<address>
<b>July 13th, 2013</b><br/>
<b>3pm-Midnight (or Whenever)</b><br/>
3628 Gregory St.<br/>
Madison, WI 53711<br/>
<a href="https://www.google.com/maps/preview#!q=3628+Gregory+St%2C+Madison%2C+WI&data=!4m10!1m9!4m8!1m3!1d115950!2d-89.4064204!3d43.0849935!3m2!1i1920!2i955!4f13.1">Map</a>
</address>

<p>The <a href="http://www.cityofmadison.com/metro/schedules/">Madison Metro #3</a>
drops off very near to end of our street (Odana and Gregory).</p>

<h2>So Now What?</h2>

<p>Add your info below so can reserve enough foods and drinks.</p>

{{view Invitr.NewRsvpView}}

<hr/>

{{view Invitr.RsvpsView}}

<hr/>

<footer>
    &copy; 2013 Whazz Software
</footer>