<header id="page-header">
  <h1>Moneypenny Cookout</h1>
</header>

<div id="video-container">
  <iframe width="1280" height="750" src="http://www.youtube.com/embed/Kr0tTbTbmVA"
          frameborder="0" allowfullscreen></iframe>
</div>

<h2 class="text-center">"HOLLLARIT!"</h2>

<p>Whatup: it's Zachery Moneypenny.</p>

<p>My wife Stacy and I were talking about how long it's been since we
just had a bunch of friends over for a cookout. So we said "Hey, let's
notify the crew, get a keg, start a fire,
grill meats and veggies, and listen to DJ Jazzy Jeff and the Fresh Prince
on loop until a neighbor calls the police."</p>

<h2>Details</h2>

<address>
    <b>July 13th, 2013</b><br/>
    <b>5pm-Midnight (or Whenever)</b><br/>
    3628 Gregory St.<br/>
    Madison, WI 53711<br/>
    <a href="https://www.google.com/maps/preview#!q=3628+Gregory+St%2C+Madison%2C+WI&data=!4m10!1m9!4m8!1m3!1d115950!2d-89.4064204!3d43.0849935!3m2!1i1920!2i955!4f13.1">Map</a>
</address>

<p>The only day that we could attempt such an event this summer just
happens to be the last day of <a href="http://uxmad.com">UX Mad</a>.
Because I'm a stubborn iconoclast-slash-masochistic I'm just going
to go ahead and stay on target.</p>

<p>So if you're not completely exhausted after two days of hardcore
User Experience &amp; Design goodness, stop on by for beer, a campfire,
and snacks.</p>

<p><b>The only thing I ask</b> is to RSVP below; since we may have two people
or 70 people coming we need to know how much of stuff to get.</p>

<h2>Public Transportation</h2>

<p>The <a href="http://www.cityofmadison.com/Metro/schedules/Route07//">Madison Metro #7</a>
drops off very near to end of our street (Odana and Gregory).</p>

<h2>So Now What?</h2>

<p>Add your info below so can reserve enough foods and drinks.</p>

{{view Invitr.NewRsvpView}}

<hr/>

{{view Invitr.RsvpsView}}

<hr/>

<p>If I haven't implemented a way to edit or delete RSVPs yet, please
    <a href="mailto:cookout@whazzmaster.com">email me</a> if you need to
    cancel or change your RSVP.</p>

<p>Thanks for taking a look at this invite and for testing my first
  <a href="http://emberjs.com">Ember.js app</a>!</p>

<footer>
    &copy; 2013 Whazz Software
</footer>