<h2>Who's Attending?</h2>

<p>So far <b>{{controller.totalAttending}} {{controller.attendingDesignator}}</b>
    are incredibly cool and are coming to the party</p>

<ul id="rsvps">
  {{#each rsvp in controller}}
    {{view Invitr.RsvpView rsvpBinding="rsvp"}}
  {{/each}}
</ul>
